@model IEnumerable<FitnessJourneyCreator.Models.WorkoutExercise>

@{
    ViewData["Title"] = "Workout Exercises";
}

<h1>Workout Exercises</h1>

<p>Add your workout exercises here</p>

@if (User.Identity.IsAuthenticated)
{
    <p class="instructions">
        <a asp-action="Create">Create New</a>
        <a asp-controller="Logs" asp-action="Index">Log Your Workouts</a>
        <a asp-controller="Exercises" asp-action="Create">Create New Exercises</a>
    </p>
}
else
{
    <p class="instructions">
        <a asp-area="Identity" asp-page="/Account/Login">Log in to customize plan details</a>
        <a asp-controller="Logs" asp-action="Index">See the past logged Workouts</a>
        <a asp-controller="Exercises" asp-action="Index">See our Exercise list</a>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.WorkoutName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkoutExerciseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorkoutExerciseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkoutExerciseId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
