@model IEnumerable<FitnessJourneyCreator.Models.Workout>

@{
    ViewData["Title"] = "Workouts";
}

<h1>Your Workouts</h1>

@if (User.Identity.IsAuthenticated) {
    <p class="instructions">
        <a asp-action="Create">Create New</a>
        <a asp-controller="WorkoutExercises" asp-action="Index">Add Exercises to Your Workouts</a>
    </p>
}
else
{
    <p class="instructions">
        <a asp-area="Identity" asp-page="/Account/Login">Log in to customize plan details</a>
        <a asp-controller="WorkoutExercises" asp-action="Index">See the Exercises</a>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Microcycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutName)
            </td>
            <td>

                @if (item.WorkoutDay == 2)
                {
                    <text>Monday</text>
                }
                else if (item.WorkoutDay == 3)
                {
                    <text>Tuesday</text>
                }
                else if (item.WorkoutDay == 4)
                {
                    <text>Wednesday</text>
                }
                else if (item.WorkoutDay == 5)
                {
                    <text>Thursday</text>
                }
                else if (item.WorkoutDay == 6)
                {
                    <text>Friday</text>
                }
                else if (item.WorkoutDay == 7)
                {
                    <text>Saturday</text>
                }
                else if (item.WorkoutDay == 1)
                {
                    <text>Sunday</text>
                        
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Microcycle.MicrocycleName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkoutId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorkoutId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkoutId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
