@model FitnessJourneyCreator.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Exercise Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemostrationLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemostrationLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
