@model IEnumerable<FitnessJourneyCreator.Models.WorkoutPlan>

@{
    ViewData["Title"] = "Workout Plans";
}

<h1>Your Workout Plans</h1>

<p class="instructions">
    <a asp-action="Create">Create a New Workout Plan</a>
    <a asp-controller="Macrocycles" asp-action="Index">Modify Macrocycles</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkoutPlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkoutPlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkoutPlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
