@model FitnessJourneyCreator.Models.Log

@{
    ViewData["Title"] = "Details";
}

<h1>Exercise Log Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLogged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLogged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepsCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepsCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutExercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutExercise.Exercise.ExerciseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
