@model IEnumerable<FitnessJourneyCreator.Models.Log>

@{
    ViewData["Title"] = "Exercise Logs";
}

<h1>Exercise Logs</h1>

@if (User.Identity.IsAuthenticated)
{
    <p class="instructions">
        <a asp-action="Create">Create a New Log</a>
    </p>
}
else
{
    <p class="instructions">
        <a asp-area="Identity" asp-page="/Account/Login">Log in to log your workouts</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateLogged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutExerciseId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateLogged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutExercise.Exercise.ExerciseName)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
