@model IEnumerable<FitnessJourneyCreator.Models.Microcycle>

@{
    ViewData["Title"] = "Microcycles";
}

<h1>Your Microcycles</h1>

<p class="instructions">
    <a asp-action="Create">Create a New Microcycle</a>
    <a asp-controller="Workouts" asp-action="Index">Modify workouts</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MicrocycleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesocycle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MicrocycleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesocycle.MesocycleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MicrocycleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MicrocycleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MicrocycleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
